@import url("./theme.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans SC";
}
html,
body {
  width: 100%;
  height: 100%;
}
header.top-ber {
  position: fixed;
  padding: 30px 100px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  transition: 0.6s;
  z-index: 8192;
}
header.top-ber.sticky {
  padding: 5px 100px;
}
header.top-ber .logo {
  position: relative;
  font-weight: 700;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}
header.top-ber .item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.top-ber .item a {
  position: relative;
  margin: 0 15px;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  background: url(https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=);
  background-size: cover;
  background-attachment: fixed;
}
.banner * {
  user-select: none;
}
.banner h1 {
  font-size: 56px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.banner h5 {
  font-size: 16px;
  font-weight: 600;
}
.aboutMe {
  padding: 20px;
  display: grid;
  grid-template: auto / 2fr 1fr;
  height: 300vh;
}
.aboutMe .text h1 {
  font-size: 34px;
  font-weight: 600;
}
.aboutMe .text p {
  font-size: 18px;
}
footer.end-ber {
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
}
footer.end-ber .column {
  padding: 20px;
}
footer.end-ber .column hr {
  margin: 4px 0;
  width: 180px;
  height: 2px;
  background: var(--border);
  border: none;
}
footer.end-ber .column .box {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / auto;
}
footer.end-ber .column h3 {
  font-weight: 600;
  letter-spacing: 1px;
}
@media (max-width: 376px) {
  header.top-ber {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
  }
  header.top-ber .item {
    display: none;
  }
}