@import url("./theme.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Noto Sans SC";
}
html,
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
header {
  padding: 30px 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(2rem + 30px + 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  transition: 0.6s;
  z-index: 4;
  .left {
    display: flex;
    button.show-menu {
      margin: 0 10px 0 0;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      &::before {
        content: "";
        width: 24px;
        height: 24px;
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0id2hpdGUiIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0zIDE4aDE4di0ySDN2MnptMC01aDE4di0ySDN2MnptMC03djJoMThWNkgzeiIvPjwvc3ZnPg==")
          center center / contain no-repeat;
      }
    }
    .logo {
      position: relative;
      font-weight: 700;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: 0.2s;
    }
  }
  nav.item {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      padding: 0 15px;
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: 0.2s;
    }
  }
}
header.sticky {
  padding: 0 60px;
  height: 50px;
}
main {
  width: 100%;
  min-height: 300%;
  .parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: url("../images/bg.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    .text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      h1 {
        font-size: 60px;
        line-height: 1.2em;
        font-weight: 900;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      h5 {
        font-size: 16px;
        line-height: 1.2em;
        font-weight: 600;
      }
    }
    .copyright {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 12px;
      opacity: 0.2;
      transition: 0.2s;
      z-index: 1;
      &:hover {
        opacity: 1;
      }
      a {
        color: #dddddd;
      }
    }
  }
}
footer {
  bottom: 0;
  width: 100%;
  min-height: 220px;
  display: flex;
  justify-content: center;
  .column {
    padding: 20px;
    min-width: 20%;
    h3 {
      font-weight: 600;
      letter-spacing: 1px;
    }
    hr {
      margin: 4px 0;
      width: 180px;
      height: 1.4px;
      background: #ffffff30;
      border: none;
    }
    .box {
      display: flex;
      flex-direction: column;
    }
  }
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  overflow: hidden;
  transition: 0.2s;
  will-change: top, contents;
  z-index: 5;
  .progressbar {
    position: relative;
    height: 100%;
    background: #1976d2;
    animation: 2.4s to linear infinite;
    will-change: left;
  }
}
@keyframes to {
  0% {
    left: -20%;
    width: 20%;
  }
  50% {
    left: 30%;
    width: 40%;
  }
  100% {
    left: 100%;
    width: 20%;
  }
}

@media (max-width: 376px) {
  header.top-ber {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    .item {
      display: none;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
